@import '../scss/variable';
.btn-reset {
  box-shadow: none !important;
}

.btn-default {
  padding: 5px 10px;
}

.color-blue {
  color: $text-blue !important;
}

.color-white {
  color: $text-white !important;
}

.bg-yellow {
  background-color: $bg-yellow !important;
  &:hover {
    color: $text-white !important;
  }
}

.btn {
  height: fit-content;
}

.input-normal {
  .invalid-feedback {
    color: #ff8894 !important;
  }
  .is-invalid {
    border: none !important;
    background-color: #fff0f2;
  }
}
