$text-blue: #064e89;
$bg-primary: #064e89;
$bg-grey: #e9ecef;
$text-white: #fff;
$text-green: #008000;
$bg-yellow: #fffa00;
$text-normal: #333333;
$text-disable: #b0c2d0;
$color-text: #212529;

$breakpoints: (
  'sx': 575.98px,
  'sm': 767.98px,
  'md': 991.98px,
  'lg': 1199.98px,
) !default;
