@import '../../../assets/scss/variable';

.radio-group {
  display: flex;

  > li {
    &:first-child {
      .radio-normal {
        .radio-normal__label {
          border-radius: 0.25rem 0 0 0.25rem;
        }
      }
    }
    &:last-child {
      .radio-normal {
        .radio-normal__label {
          border-radius: 0 0.25rem 0.25rem 0;
        }
      }
    }
  }
}

.radio-normal {
  &__label {
    font-weight: 500;
    color: $text-disable;
    background-color: $text-white;
    padding: 0.375rem 0.75rem;
    cursor: pointer;
    transition: all 0.2s;
    line-height: 1.5;
    font-size: 1rem;
    border: 1px solid transparent;
  }
  &__input {
    &:checked {
      & ~ .radio-normal__label {
        color: $text-white;
        background-color: $text-green;
      }
    }
  }
}

// splay: inline-block;
//     font-weight: 400;
//     line-height: 1.5;
//     color: #212529;
//     text-align: center;
//     text-decoration: none;
//     vertical-align: middle;
//     cursor: pointer;
//     -webkit-user-select: none;
//     user-select: none;
//     background-color: transparent;
//     border: 1px solid transparent;
//     padding: 0.375rem 0.75rem;
//     font-size: 1rem;
//     border-radius: 0.25rem;
